<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Editar cita</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-grid fixed>
       <ion-row>
         <ion-col >
          <div class="ion-text-center">
            <ion-text color="tertiary">
              <h1>{{appointment.patientName}}</h1>
            </ion-text>
           </div>
            <form [formGroup]="myForm">
              <hr>
              <hr>
              <ion-list>
                <ion-item>
                  <ion-label>Posponer Cita</ion-label>
                  <ion-toggle checked="{{toggleEdit}}" (click)="changeEditStatus()"></ion-toggle>
                </ion-item>
              </ion-list>
              
              <ion-item>
                <ion-label position="floating">Fecha</ion-label>
                <ion-datetime  placeholder="Select Date" formControlName="date"></ion-datetime>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Hora</ion-label>
                <ion-datetime displayFormat="hh-mm-A" placeholder="Select Date" formControlName="time"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Posponer</ion-label>
                <ion-button  disabled="{{editStatus}}" expand="full" (click)="editAppointment()">Posponer</ion-button>
              </ion-item>
              <ion-item>
                <ion-label>Cancelar Cita</ion-label>
                <ion-button  disabled="{{deleteStatus}}" expand="full" color="danger" (click)="cancelAppointment()">Cancelar</ion-button>
              </ion-item>
            </form>
            
         </ion-col>
       </ion-row>
     </ion-grid>
     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="setMedical()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>