<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Lista Citas </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let appointment of appointments">
      <ion-item>
        <ion-label>
          <ion-text >
            <h1>{{appointment.patientName}}</h1>
          </ion-text>
          <ion-text color="primary">
            <h2>{{appointment.date}}</h2>
          </ion-text>
          <ion-text color="primary">
            <h2>{{appointment.time}}</h2>
          </ion-text>
        </ion-label>
       <div *ngIf='appointment.status && !appointment.cancelled'>
          <ion-badge color="warning" (click)="presentAlertMultipleButtons(appointment)">Pendiente</ion-badge>
        </div>
        <div *ngIf='!appointment.status && appointment.cancelled'>
          <ion-badge color="danger">Cancelada</ion-badge>
        </div>
        <div *ngIf='!appointment.status && !appointment.cancelled'>
          <ion-badge color="success">Realizada</ion-badge>
        </div>
        <ion-icon  name="arrow-forward-circle-outline" ></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>