<ion-header>
  <ion-toolbar color="success">
    <ion-title>Historial Consultas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card *ngFor="let appointment of appointments">
    <ion-card-content >
      <div>
        <ion-list class="ion-align-items-center">
          <ion-item>
            <ion-label>ID Medico</ion-label>
            <ion-label color="tertiary">{{appointment.idMedic}}</ion-label> 
          </ion-item>
          <ion-item>
            <ion-label>ID Paciente</ion-label>
            <ion-label color="tertiary">{{appointment.idPatient}}</ion-label> 
          </ion-item>
          <ion-item>
            <ion-label>Fecha consulta</ion-label>
            <ion-label color="tertiary">{{appointment.fechaCon}}</ion-label> 
          </ion-item>
          <ion-item>
            <ion-label>Descripción;</ion-label>
            <ion-label color="tertiary">{{appointment.descrip}}</ion-label> 
          </ion-item>
        </ion-list>
      </div>
        <ion-item class="ion-align-items-center">
          <ion-button  expand="full">Ver más</ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

