<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="view-doctors">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Ver Medicos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button  tab='admin-patients'>
      <ion-icon name="list-outline"></ion-icon>   
      <ion-label>Ver Pacientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab='admin-home' >
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
