

<ion-content [fullscreen]="true">

  <br>
  <ion-label class="ion-text-center" color="medium"><h1>Tu información en un sólo click</h1></ion-label>
  <p></p>
  <ion-label class="ion-text-center" color="medium"><h2>Accede a tu cuenta para continuar</h2></ion-label>

  <ion-grid   >
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card >
          <h2>Login</h2>
          <ion-card-content>
           
           
            <form class="ion-padding" [formGroup]="myForm">
              <ion-list class="ion-align-items-center">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-list>
              <ion-list>
                <ion-item>
                  <ion-label position="floating" color="medium">Email</ion-label>
                  <ion-input type="text" formControlName="email" ></ion-input>
                </ion-item>
                <ion-item *ngIf="myForm.get('email').errors && (myForm.get('email'
      ).dirty || myForm.get('email').touched || submitted)">
                  <ion-label color="danger">Email no permitido</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" color="medium">Password</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item *ngIf="myForm.get('password').errors && (myForm.get('password'
      ).dirty || myForm.get('password').touched || submitted)">
                  <ion-label color="danger">Contraseña no permitida </ion-label>
                </ion-item>
                <ion-item>
                  <ion-button color="primary" class="ion-text-center" (click)="Login()">Iniciar sesión</ion-button>
                </ion-item>
              </ion-list> 
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
</ion-content>
