<ion-header>
  <ion-toolbar color="success">
    <ion-title>Lista Citas </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let appointment of appointments">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://picsum.photos/400">
        </ion-thumbnail>
        <ion-label>
          <ion-text >
            <h1>{{appointment.patientName}}</h1>
          </ion-text>
          <ion-text color="primary">
            <h2>{{appointment.date}}</h2>
          </ion-text>
        </ion-label>
       <!--<div *ngIf='patient.status'>
          <ion-badge color="danger" (click)="viewPatient(patient)" >No atendido</ion-badge>
        </div>-->
        <ion-icon  name="arrow-forward-circle-outline" (click)="presentAlertMultipleButtons()"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>