<ion-header>
  <ion-toolbar color="success">
    <ion-title>Detalle Paciente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center">
        <ion-list class="ion-align-items-center">
          <!--<ion-label>
            <h1> {{patient.name}}</h1>
          </ion-label>-->
          </ion-list>
          <ion-list class="ion-align-items-center">
            <img src="https://picsum.photos/300">
          </ion-list>
          <ion-list class="ion-align-items-center">
            <ion-item>
              <ion-label>Edad</ion-label>
              <ion-label color="tertiary">{{doctor.email}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-label color="tertiary">{{doctor.password}}</ion-label>
            </ion-item>
           
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>